{{define "content"}}
<div class="flex justify-center px-4 mt-10">
  <div class="w-full max-w-4xl bg-[#a4c3d8] p-6 rounded-md shadow">
    <h1 class="text-white text-2xl font-bold text-center mb-6">Nouvelle publication</h1>

    <div class="bg-white p-6 rounded-md relative">
      <!-- Bouton catégorie -->
      <div class="absolute right-6 top-6">
        <button class="bg-[#f2ede3] text-blue-500 px-4 py-1 rounded-md font-medium">
          categories &gt;
        </button>
      </div>
      <div class="mb-4">
        <label class="block text-xl font-semibold text-sky-700 mb-1">Title</label>
        <input type="text" placeholder="Titre de la publication.."
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-200" />
      </div>
    </nav>
    <div class="flex justify-center px-4 mt-10">
      <div class="w-full max-w-4xl bg-[#a4c3d8] p-6 rounded-md shadow">
        <h1 class="text-white text-2xl font-bold text-center mb-6">Nouvelle publication</h1>

        <div class="bg-white p-6 rounded-md relative">
          <!-- Bouton catégorie -->
           <form action="" method="post">

             <div class="absolute right-6 top-6">
              <select name="cat" id="cat" 
              class="bg-[#f2ede3] text-blue-500 px-4 py-1 rounded-md font-medium">
                <option value="">--Catégories--</option>
                <option value="1">Histoire</option>
                <option value="2">Events</option>
                <option value="3">Astuces</option>
                <option value="4">Exercices/Technique</option>
                <option value="5">Escalade sportive</option>
                <option value="6">Escalade en bloc</option>
                <option value="7">Escalade grande voie</option>
                <option value="8">Escalade de glace</option>
                <option value="9">Autres</option>
              </select>
            
              </div>
              <div class="mb-4">
                <label class="block text-xl font-semibold text-sky-700 mb-1">Title</label>
                <input
                type="text"
                id="title"
                name="title"
                placeholder="Titre de la publication.."
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-200"
                />
              </div>
              <div class="mb-6">
                <textarea
                placeholder="Taping ..."
                rows="6"
                id="content"
                name="content"
                class="w-full px-4 py-2 border border-gray-300 rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-blue-200"
                ></textarea>
              </div>
              <div class="flex justify-end">
                <button 
                type="submit"
                class="bg-lime-300 hover:bg-lime-400 text-slate-800 font-semibold py-2 px-6 rounded-full transform hover:scale-105 transition">
                  Valider
                </button>
              </div>
            </form>
            </div>é
      </div>
    </div>
  </div>
</div>
{{end}}