{{define "content"}}
    <form method="POST" id="form" action="/modificationProfil">
    <div class="container">
        <div class="header">
            <p>L'id : {{.ID}}</p>
            <p>Le pseudonyme : {{.Username}} <input type="text" id="pseudo" name="pseudo" placeholder="Ton pseudo..."></p>
            <p>Le mail : {{.Email}} <input type="text" id="email" name="email" placeholder="Ton email..."></p>
        </div>
    </div>
    <button type="submit" 
    class="bg-lime-300 hover:bg-lime-400 text-slate-800 font-semibold py-2 px-6 rounded-full transform hover:scale-105 transition">
    Valider</button>
    </form>
    <a href="/profile">Retour au profil</a>
{{end}}