{{define "navbar"}}
<nav class="bg-sky-700 p-4 flex justify-between items-center">
    <div class="flex items-center gap-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Logo_Skland.png" alt="Logo"
            class="h-10 w-10 rounded-full" />
        <span class="text-white text-xl font-semibold">Réseau</span>
    </div>
    <div class="flex items-center gap-2">
        <input type="text" placeholder="Search.." class="rounded-md px-4 py-1 bg-blue-100 focus:outline-none" />
        <button class="bg-blue-100 px-4 py-1 rounded-md text-sky-800 font-medium">Loupe</button>
        <div class="w-10 h-10 bg-gray-300 rounded-full"></div>
    </div>
</nav>
{{end}}