{{define "navbar"}}
<nav class="bg-sky-700 p-4 flex justify-between items-center">
    <div class="flex items-center gap-2">
        <img src="https://i.ibb.co/Sw51Rqr9/A-logo-emblem-for-SKLAND-an-outdoor-rock-climbi.png" alt="Logo"
            class="h-10 w-10 rounded-10" />
    </div>
    <div class="flex gap-2">
        <ul class="flex gap-4 text-white font-medium">
            <li class="text-sky-100"><a href="/home">Acceuil</a></li>
            <li class="text-sky-100"><a href="/home">Forum</a></li>
            <li class="text-sky-100"><a href="/home">Réseau</a></li>
            <li class="text-sky-100"><a href="/home">Contact</a></li>
            <li class="text-sky-100"><a href="/home">À Propos</a></li>
        </ul>
    </div>
    <div class="flex items-center gap-2">
        <input type="text" placeholder="Search.." class="rounded-md px-4 py-1 bg-blue-100 focus:outline-none" />
        <button class="bg-blue-100 px-4 py-1 rounded-md text-sky-800 font-medium">Loupe</button>
        {{if eq .User ""}}
        <a href="/login"
         class="text-sky-100 hover:text-sky-200 font-medium">Connection</a>
         {{else}}
        <a href="/profile?userId={{.User}}"
            class="text-sky-100 hover:text-sky-200 font-medium">Mon Profil</a>
            <div class="w-10 h-10 bg-gray-300 rounded-full"></div>
            <a href="/home" onclick="deletCookieUser()"
            class="text-sky-100 hover:text-sky-200 font-medium">Déconnection</a> 
        {{end}}
    </div>
    <script>

        function deletCookieUser(){
            document.cookie = 'user=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC';
        }
    </script>
</nav>
{{end}}