<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    <form method="POST" id="form" action="/profile">
    <div class="container">
        <div class="header">
            <p>L'id : {{.ID}}</p>
            <p>Le pseudonyme : {{.Username}} </p>
            <p>Le mail : {{.Email}} </p>
        </div>
    </div>
    <a href="/modificationProfil">Modification du profil</a>
    </form>
</div>